---
layout: default
page-name: work
---
<div id="poisson" class="sketch"></div>
<article class="work page-content">

  <div class="ascii work-txt">
    {% include work.txt %}
  </div>
  <section class="websites">
    <h2 class="category-heading">Websites</h2>
    {% assign sorted = (site.portfolio | sort: 'date') | reverse %}
    {% for item in sorted %}
      {% if item.type == 'work' %}
      <div class="project">
        <h4 class="project-title">
          <a target="_blank" href="{{ item.project-link }}">{{ item.title }}</a>
          <span class="date">- {{ item.date | date: '%b, %Y' }}</span>
        </h4>
        {{ item.content | markdownify}}
      </div>
      {% endif %}
    {% endfor %}
  </section>
  <section class="websites">
    <h2 class="category-heading">Fun Stuff</h2>
    {% for item in sorted %}
      {% if item.type == 'fun' %}
      <div class="project">
        <h4 class="project-title">
          <a target="_blank" href="{{ item.project-link }}">{{ item.title }}</a>
          <span class="date">- {{ item.date | date: '%b, %Y' }}</span>
        </h4>
        {{ item.content | markdownify}}
      </div>
      {% endif %}
    {% endfor %}
  </section>
</article>
