body.page-work{
	.work-txt{
		max-width: 19.3rem;
		margin: 0 auto;
		font-size: .8rem;
    line-height: .9;
    @media screen and (max-width: $breakpoint) {
    	font-size: 0.5rem;
    	max-width: 13.7rem;
    }
	}
	.page-content{
	}
	.category-heading{
		font-size: 1.875rem;
		font-weight: bold;
		margin-top: 3.525rem;
		margin-bottom: 2.5rem;
		font-style: italic;
	}
	.project-title{
		margin-bottom: 1rem;
		a{
			font-size: 1.325rem;
			text-decoration: underline;
			color: $teal;

		}
		.date{
			color: darken($gray, 20%);
		}
	}
	.project{
		margin-bottom: 2.1875rem;
	}
	ul{
		margin-top: 0.8125rem;
	}
	
}