.site-header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	.wrapper{
		max-width: $max-width;
		margin: 0 auto;
		padding: 0 1.5rem;

		.header-content{
			border-bottom: 1px solid $gray;
			background-color: rgba(0, 0, 0, 0.8);
			padding: 1rem 0;

		}

	}
}